<div class="panel panel-primary">
    <div class="panel-heading">
        Sign Up!
    </div>

    <div class="panel-body">
        <form class="form-horizontal"
              novalidate
              (ngSubmit)="save(signupForm)"
              #signupForm="ngForm">
            <fieldset>
          
                <div class="form-group">

                    <!--<radio-input name="pair" setchecked="0" value="yes" (userUpdated)="handleUserUpdated($event)"></radio-input>
                    <radio-input name="pair" setchecked="0" value="no" (userUpdated)="handleUserUpdated($event)"></radio-input>
                    <radio-input [name]="testString" [setchecked]="0" [value]="yes" (userUpdated)="handleUserUpdated($event)"></radio-input>-->
                    
                    <!--<radio2-input name="pair2" value="value 1"  (userUpdated)="handleUserUpdated($event)"></radio2-input>
                    <radio2-input name="pair2" value="value 2"   (userUpdated)="handleUserUpdated($event)"></radio2-input>-->

                    <!--<radio2-input name="pair2" value="yes"  ([ngModel])="value"  ></radio2-input>
                    <radio2-input name="pair2" value="no"  ([ngModel])="value" ></radio2-input>-->

                    <p>
                        
                        <!--<subform-input  (change)="onChange($event)"  (input)="onChange($event)" ([ngModel])="superValues"></subform-input>-->

                        <person [(ngModel)]="people.friends[i]"
                                *ngFor="let person of people.friends; index as i; trackBy: trackByIndex"
                                name="friend-{{i}}"
                                (change)="onPersonChange()"></person>

                    </p>
                    
                    


                    <div *ngIf="hidediv==1">
                        <div class="form-group">
                            <label class="col-md-2 control-label"
                                   for="street1Id">Street Address 1</label>
                            <div class="col-md-8">
                                <input type="text"
                                       class="form-control"
                                       id="street1Id"
                                       placeholder="Street address"
                                       [(ngModel)]="customer.street1"
                                       name="street1"
                                       (change)="onChange(signupForm)">
                            </div>
                        </div>
                    </div>
                </div>
               MR HIDE= {{mrhide}}

            </fieldset>
        </form>
    </div>
</div>
<pre>{{signupForm.value | json  }}</pre>
SuperValues = {{superValues}}
<br />
<br>Dirty: {{ signupForm.dirty }}
<br>Touched: {{ signupForm.touched }}
<br>Valid: {{ signupForm.valid }}
<br>Value: {{ signupForm.value | json }}